        body {
            background-color: rgb(242, 238, 9);
        }
        p {
            color: rgb(27, 12, 232);
        }
        h1 {
            font-size: 28px;
            color: Blue;
        }
        #title {
        border: 3px solid green;
        margin-left: auto; 
        margin-right: auto; 
        text-align: center
         }
        #contents {
        border: 0.5px solid green;
        margin-left: auto; 
        margin-right: auto; 
        text-align: center
         }
        #brecipe1 {
            background-color: red;
        }
        #brecipe2 {
            background-color: green;
        }
        #brecipe3 {
            background-color: orange;
        }
