body {
  margin: 40px;
}

.sidebar {
        grid-area: sidebar;
    }

    .content {
        grid-area: content;
    }

    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }


    .wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 320px auto 120px;
        grid-template-areas:
    "....... header header"
        "sidebar content content"
        "footer  footer  footer";
        background-color: #fff;
        color: #444;
    }



.box {
  //background-image: url("https://i.imgur.com/OPqvYhj.png");
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
}

#brecipe1 {
        background-color: red;
  
        }
#brecipe2 {
        background-color: green;
        }

        #brecipe3 {
        background-color: orange;
        color: black;
        }
#title {
        margin-left: auto; 
        margin-right: auto; 
        text-align: center
         }
.footerCredit {
        margin-left: auto; 
        margin-right: auto; 
        text-align: center;
        }
.recipe {                
    text-align:start;
    text-indent:1.5em;
}
li{
    margin-left:90px;
}