       html, body {
       padding: 0;
       margin: 0;
       }

       body {
       background-color: #BBB;
       font-family: Helvetica, sans-serif;
       padding-bottom: 100px;
       }

        #title {
        border: 3px solid green;
        margin-left: auto; 
        margin-right: auto; 
        text-align: center
         }

        #contents {
        border: 0.5px solid green;
        margin-left: auto; 
        margin-right: auto; 
        text-align: center;
        dispay: flex
         }

        .recipe {
        margin-left: auto; 
        margin-right: auto; 
        text-align: center
        }

        #brecipe1 {
        background-color: red;
        }

        #brecipe2 {
        background-color: green;
        }

        #brecipe3 {
        background-color: orange
        }

        .footerCredit {
        margin-left: auto; 
        margin-right: auto; 
        text-align: center
        }
